@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply cursor-pointer rounded border;
}

.active-tab {
	@apply text-white;
}

.loader {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;

	-webkit-animation: spinner 1s ease-out infinite;
	animation: spinner 1s ease-out infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.line_breaks {
	-ms-word-break: break-all;
	word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.truncate {
	width: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0;
}
