.dissapear {
	animation: fadeOut 3s;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in;
	animation-delay: 5s;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-o-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}
